In [30]:
import numpy as np 
import pandas as pd

In [31]:
# random seed 

np.random.seed(42)

set1no = 900 
set2no = 100

In [32]:
df1 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=set1no),
    "feature_2": np.random.normal(loc=0, scale=1, size=set1no), 
    "target" : [0] * set1no
})

df2 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=set2no),
    "feature_2": np.random.normal(loc=0, scale=1, size=set2no), 
    "target" : [1] * set2no
})

In [33]:
df1.head()

   feature_1  feature_2  target
0   0.496714   0.368673       0
1  -0.138264  -0.393339       0
2   0.647689   0.028745       0
3   1.523030   1.278452       0
4  -0.234153   0.191099       0

In [34]:
df2.head()

   feature_1  feature_2  target
0   1.901191   0.696954       1
1  -0.060661  -0.333819       1
2  -0.708407   1.173125       1
3  -1.513714   0.369642       1
4  -1.803140  -0.107302       1

In [35]:
df = pd.concat([df1,df2]).reset_index(drop=True)

In [36]:
df

     feature_1  feature_2  target
0     0.496714   0.368673       0
1    -0.138264  -0.393339       0
2     0.647689   0.028745       0
3     1.523030   1.278452       0
4    -0.234153   0.191099       0
..         ...        ...     ...
995  -0.370011   1.070150       1
996  -0.258796  -0.026521       1
997   1.598647  -0.881875       1
998   0.560919  -0.163067       1
999  -0.295480  -0.744903       1

[1000 rows x 3 columns]

In [37]:
df["target"].unique()

array([0, 1])

In [38]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [39]:
#upsampling -> upsample minority

In [40]:
#downsampling -> downsample majority

In [41]:
#upsampling

In [49]:
df_minority = df[df["target"] == 0]

In [50]:
df_minority

     feature_1  feature_2  target
0     0.496714   0.368673       0
1    -0.138264  -0.393339       0
2     0.647689   0.028745       0
3     1.523030   1.278452       0
4    -0.234153   0.191099       0
..         ...        ...     ...
895   0.648710  -0.751969       0
896  -0.167118  -0.319054       0
897   0.146714  -0.796026       0
898   1.206509   1.076007       0
899  -0.816936   0.021312       0

[900 rows x 3 columns]

In [51]:
df_majority = df[df["target"] == 1]

In [52]:
df_majority

     feature_1  feature_2  target
900   1.901191   0.696954       1
901  -0.060661  -0.333819       1
902  -0.708407   1.173125       1
903  -1.513714   0.369642       1
904  -1.803140  -0.107302       1
..         ...        ...     ...
995  -0.370011   1.070150       1
996  -0.258796  -0.026521       1
997   1.598647  -0.881875       1
998   0.560919  -0.163067       1
999  -0.295480  -0.744903       1

[100 rows x 3 columns]

In [53]:
from sklearn.utils import resample

In [54]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_minority), random_state=42)

In [55]:
df_minority_upsampled.shape

(900, 3)

In [56]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [57]:
df_upsampled["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64